.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 23, 40, 1);
  overflow: hidden;
}

.dashboard-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}